@import "tailwindcss";

@font-face {
    font-family: "OpenSans";
    src: url("./assets/fonts/OpenSans-VariableFont_wdth\,wght.ttf");
}

:root {
    font-family: OpenSans;
}

@theme {
    --color-dark-main-darker: #202020;
    --color-dark-main: #282828;
    --color-dark-secondary: #3e3e3e;
    --color-light-main: #faf1c9;
}

.button-icon {
    @apply opacity-50 hover:opacity-100 hover:cursor-pointer hover:scale-110 duration-100 transition-all;
}
